<app-title title="Blogs"></app-title>
@if(blogs.length > 0) {
<section class="mx-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  @for (blog of blogs; track $index) {
  <span
    class="block p-4 mb-4 bg-slate-200 shadow rounded-xl hover:scale-105 hover:bg-slate-100"
  >
    <img
      [srcset]="blog.image_url"
      alt="blog image"
      class="w-full h-48 object-cover mt-2 rounded-xl"
    />
    <p class="mt-2 text-gray-400">
      Published at: {{ blog.published_at | date : "dd/MM/yyyy HH:mm" }}
    </p>
    <a
      class="text-xl font-semibold text-gray-600 hover:underline cursor-pointer"
      [routerLink]="['/dashboard/blog', blog.id]"
    >
      {{ blog.title }}
    </a>
  </span>

  }
</section>
} @else {
<div class="flex items-center justify-center h-96">
  <p class="text-2xl text-gray-400">No blogs found</p>
</div>
}
